.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: aliceblue; */
}

section {
  max-width: 1200px;
  min-width: 800px;
  background-color: rgba(204, 222, 233, 0.828);
  border-radius: 5px;
  padding: 20px 0;
}
