.medalListComponent {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.deleteButton {
  background-color: red;
  border: none;

  height: 30px;
  width: 56px;
  border-radius: 5px;
  color: white;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: rgb(70, 139, 208);
}

th,
td {
  padding: 10px 40px;
}

td {
  background-color: rgb(239, 239, 246);
}
