.inputForm {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.inputItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputFormStyle {
  height: 25px;
  border-radius: 5px;
  padding: 0 5px;
}

/* 버튼 */
.formButton {
  background-color: orange;
  border: none;
  margin-top: 15px;
  height: 30px;
  width: 56px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
